
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

.images {
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    width: 100%;
}

.quote-container {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-text {
    font-size: 18px;
    color: #333;
}

